*{
    padding:0;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
/*     background-color: rgb(88, 32, 74); */
    background-image: url('./Galaxy2.jpg');
    margin-top: 150px;
}
.quote-wrapper{
    border-radius: 20px;
    background-color: rgb(66, 225, 228);
    color: rgb(29, 17, 17);
    opacity: .7;
    padding: 4rem 1.5rem ;
    box-shadow: 0px 2px 15px -5px ;
}
.quote-wrapper h2{
    font-size: 2rem;
    margin-bottom: 4.5rem;
}
.quote-wrapper small{
    font-size: 25px;
    font-weight: 1000;
    padding: 0.2rem 1rem;
    color: rgb(88, 32, 74) ;
    border-radius: 5px;
    text-transform: capitalize;
}
.quote-wrapper blockquote{
    padding: 1.4rem 0;
    font-weight: 800;
    font-size: 25px;
}
.quote-wrapper cite{
    display: block;
    font-style: normal;
    padding-bottom: 1rem;
    font-family: cursive;
    font-size: 20px;
    font-weight: 800;
}
#get-quote-btn{
    font-size: 1.1rem;
    border: none;
    background-color: rgb(88, 32, 74);
    color: aliceblue;
    padding: 0.7rem 1.2rem ;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: 0;
}
#get-quote-btn:hover{
    color: black;
    background-color: rgb(238, 93, 202);
}
/* @media screen and(min-width:680px) {
    .quote-wrapper{
        width: 600px;
    }
    
} */
